@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-center {
  text-align: center;
}

@mixin flex-column-text {
  text-align: center;
  display: flex;
  flex-direction: column;
}
