$primary-color: #686868;
$secondary-color: #bdbdbd;
$thirth-color: #757575;

$carousel-margin-bottom: 60px;
$carousel-video-border: 60px solid white;
$icon-size: 60px;

$carousel-video-width: 1120px;
$carousel-video-height: 630px;

$footer-background-color: white;
$footer-text-color: grey;
$main-font-family: "GFS Neohellenic", sans-serif;

$footer-font-size: 22px;
$footer-font-weight: 800;
$footer-width: 90%;
$footer-text-transform: capitalize;

$product-border: 1px solid #ccc;
$product-width: 180px;
$product-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
$product-border-radius: 4px;
$product-height: 360px;
$product-padding: 16px;
$product-margin: 16px;

$product-font-size: 18px;
$product-font-weight: 500;
$product-color: #757575;

$sidebar-width: 250px;
$sidebar-background-color: #f5f5f5;
$sidebar-padding: 20px;

$background-soft-grey: #f4f4f4;
