$none: none;
$auto: auto;
$one: 1;
$zero: 0;
$flex: flex;
$block: block;
$column: column;
$center: center;
$hidden: hidden;
$one-rem: 1rem;
$hundred-percent: 100%;
$font-weight-medium: 500;

$primary-color: #686868;
$secondary-color: #bdbdbd;
$thirth-color: #757575;

$carousel-margin-bottom: 60px;
$carousel-video-border: 60px solid white;
$icon-size: 60px;

$carousel-video-width: 1120px;
$carousel-video-height: 630px;

$footer-background-color: white;
$footer-text-color: grey;
$main-font-family: "GFS Neohellenic", sans-serif;

$footer-font-size: 22px;
$footer-font-weight: 800;
$footer-width: 90%;
$footer-text-transform: capitalize;

$product-border: 1px solid #ccc;
$product-card-width: 16.25rem;
$product-card-max-height: 22.5rem;
$product-card-image-height: 12.5rem;
$product-card-image-max-width: 80%;
$product-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
$product-border-radius: 4px;
$product-height: 360px;
$product-padding: 16px;
$product-margin: 16px;
$product-card-name-font-size: 1.125rem;
$product-card-description-font-size: 0.875rem;
$product-font-weight: 500;
$product-color: #757575;

$sidebar-width: 250px;
$sidebar-background-color: #f5f5f5;
$sidebar-padding: 20px;

$background-soft-grey: #f4f4f4;

$product-card-on-hover-scale: scale(1.05);
