.carousel {
  display: flex;
  align-items: center;
  height: 560px;
  width: 80vw;
  overflow: hidden;
  flex-wrap: nowrap;
}

.carousel img {

 
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
