.wrapper {
  width: 100%;
  background-color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.dropdown {
  position: fixed;
  top: 10px;
  width: 28px;
  img {
    width: 28px;
    height: 28px;
  }
}

.hidden {
  display: none;
}

.searchDropdown {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
}

.matchedProductsItem {
  width: 80px;
  height: 40px;
  font-size: 14px;
}

.navbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b5cfaa;
  height: 84px;
  margin-bottom: 20px;
}

.navLink {
  color: grey;
  text-decoration: none;
  font-size: 18px;
}

.logoContainer,
.menuContainer,
.inputIconContainer {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput {
  margin-right: 8px;
}

.logo {
  height: 68px;
  width: 116px;
}

.iconsNav {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.gap {
  width: 40px;
}
