.quantitySelector {
  display: flex;
  justify-content: stretch;
  height: 100%;
  background-color: rgb(244, 244, 244);
}

.quantityInput {
  height: 100%;
  text-align: center;
  margin: 0;
  width: 30px;
  border: none;
  background-color: rgb(244, 244, 244);
}

.quantityInputContainer {
  height: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
}

.quantityButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}
