@import "#styles/helpers/mixins";
@import "#styles/base/variables";

.carousel {
  @include flex-center;
  margin-bottom: 3.8rem;
}

.carousel img {
  object-fit: cover;
  @include full-width-and-height;
}

.iconCarousel {
  cursor: pointer;
  color: $primary-color;
}

.video {
  width: 1120px;
  height: 630px;
}

.borderDiv {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 60px solid white;
  pointer-events: none;
}

.videoWrapper {
  position: relative;
  width: 1120px;
  height: 630px;
  z-index: -1;
}
