.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #1e5799 0%,
    #2989d8 50%,
    #207cca 51%,
    #7db9e8 100%
  );
  color: white;
}

.home-title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.home-subtitle {
  font-size: 24px;
  text-align: center;
  max-width: 600px;
}
