@import "#styles/helpers/mixins";
@import "#styles/base/variables";

.carousel {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  padding: 20px 0;
  white-space: nowrap;
  scrollbar-width: none; /* For Firefox */
  gap: 16px;
}

.carousel::-webkit-scrollbar {
  /* For Chrome, Safari, and Opera */
  display: none;
}

.productContainer {
  display: inline-block;
  margin: 0 15px;
  flex: 0 0 auto;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productTitle {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.productPrice {
  color: #888;
  font-size: 14px;
}

.sliderButton {
  color: #888;
  font-size: 2rem;
  cursor: pointer;
}

.sliderButton:hover {
  color: #333;
}

.iconCarousel {
  cursor: pointer;
  background-color: white;
}

.iconCarousel:active,
.iconCarousel:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}
