.pageFooter {
  background-color: white;
  color: grey;
  text-align: center;
  width: 100%;
  font-family: "GFS Neohellenic", sans-serif;
}

.footerContent {
  display: flex;
  flex-direction: column;
}

.footerStartSection {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.registrationFormTitle {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}

.footerStartSectionText {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90%;
}

.registrationFormTitle {
  display: flex;
  justify-content: center;
}

.footerStartSectionText:before,
.footerStartSectionText:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.footerStartSectionText:before {
  margin-right: 10px;
}

.footerStartSectionText:after {
  margin-left: 10px;
}

.pageFooter li {
  list-style: none;
}

.pageFooter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerNewsletterSection {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.registrationFormContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrationFormLabel {
  font-size: 16px;
}

.registrationFormLabelWrapper {
  text-align: center;
  margin-bottom: 1em;
}

.registrationFormTitle {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1em;
}

.registrationFormWrapper {
  width: 60%;
  background: #f0f0f0;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.registrationEmailInputAndButtonWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

/*maybe change that */

.registrationEmailInputWrapper {
  width: 65%;
}

.registrationEmailInputWrapper input {
  width: 90%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.registrationEmailButtonWrapper {
  width: 30%;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.registrationEmailButtonWrapper:hover {
  background-color: #444;
}

.registrationDataConsentText {
  min-width: 300px;
  font-size: 14px;
  text-align: center;
  margin-top: 1em;
  font-style: italic;
  max-width: 90%;
}

.columnsSection {
  display: flex;
  height: 280px;
}

.columnsSectionItemLinks a {
  color: grey;
  text-decoration: none;
}

.columnsSectionElements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.columnsSectionItemTitle {
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
}

.iconsSection {
  display: flex;
  height: 160px;
}

.iconsSectionElements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.iconsSectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.iconsSectionItemTitle {
  height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
}

.iconsSectionItemIcons {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  justify-content: space-evenly;
}

.columnsSection {
  display: flex;
  height: 260px;
}

.columnsSectionElements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.columnsSectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 240px;
}

.columnsSectionItemTitle {
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
}

.columnsSectionItemLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 100%;
  justify-content: space-evenly;
}

.footerUnderSection {
  display: flex;
  justify-content: center;
}

.footerUnderSectionText {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90%;
}

.footerUnderSectionText:before,
.footerUnderSectionText:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.footerUnderSectionText:before {
  margin-right: 10px;
}

.footerUnderSectionText:after {
  margin-left: 10px;
}
