@import "../helpers/mixins";
@import "../base/variables";

.cartContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.productList {
  display: flex;
  flex-direction: column;
}

.productItem {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  height: 80px;
}

.productImage {
  width: 100%;
}

.productDetails {
}

.productQuantity {
  display: flex;
  justify-content: space-between;
}

.quantityInput {
  width: 2rem;
  height: 32px;
  text-align: center;
}

.productTotal {
}

.productDelete {
}

.quantityButton {
  height: 32px;
  width: 32px;
}

.orderSummary {
  padding: 1rem;
  border: 1px solid #ccc;
}

.summaryDetails {
}

.confirmButton {
  @include product-purshase-button;
}
