.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.policyWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
}
