@import "#styles/helpers/mixins";
@import "#styles/base/variables";

.cartContainerWrapper {
  display: flex;
  justify-content: center;
}

.cartContainer {
  display: flex;
  width: 70%;
}

.cartItemsList {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.cartItem {
  display: flex;
  align-items: center;
  height: 9rem;
}

.cartItemImage {
  height: 8.25rem;
  width: 7.5rem;
  object-fit: contain;
}

.cartItemDetails {
  width: 20rem;
}

.cartItemQuantitySelector {
  display: flex;
  align-items: center;
}

.cartItemQuantityInput {
  width: 2rem;
  height: 32px;
  text-align: center;
  border: none; // add this
  outline: none; // this is optional and removes the focus outline
}

.cartItemQuantitySelector {
  margin-left: 5rem;
}

.cartItemQuantityButton {
  height: 32px;
  width: 32px;
  border: none; // add this
  background: none; // this is optional and removes the default background color
  outline: none;
  cursor: pointer;
}

.cartItemTotalCost {
  margin-left: 2rem;
  width: 6rem;
  justify-content: center;
}

.cartItemButtonDeleteButton {
  cursor: pointer;
  margin-left: 2rem;
}

.cartOrderSummary {
  width: 35%;
  height: 20rem;
  margin-left: 3rem;
}

.buttonContained {
  @include product-cart-purshase-button;
}
