@import "#styles/helpers/mixins";
@import "#styles/base/variables";

.content {
  display: flex;
  min-height: 85vh;
}

.mainContent {
  display: flex;
  overflow-y: auto;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding: 5rem 5rem;
}
