.productPage {
  display: flex;
  width: 70%;
}
.productPageWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.leftContainer {
  display: flex;

  width: 70%;
}

.imagesColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.imageContainer {
  width: 130px;
  height: 150px;

  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSmall {
  width: 100%;
  height: 100%;
}

.middleContainer {
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imageMiddleContainer {
  width: 300px;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imageMiddle {
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.rightContainer {
  width: 30%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-family: "GFS Neohellenic", sans-serif;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.rightContainerDetails {
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainerPriceDetails {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.addToCartButton {
  height: 100%;
  width: 180px;
  background: #b5dec6;
  color: grey;
  border: grey solid 1px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.selectorAndButtonContainer {
  display: flex;
  height: 52px;
}

.buttonIcon {
  width: 16px;
  height: 16px;
}
