.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.carousel img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.iconCarousel {
  cursor: pointer;
}

.carousel {
  @include flex-center;
  margin-bottom: $carousel-margin-bottom;
}

.carousel img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.iconCarousel {
  cursor: pointer;
}
