@import "../helpers/mixins";
@import "../base/variables";

.carousel {
  @include flex-center;
  margin-bottom: $carousel-margin-bottom;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.carousel img {
  object-fit: cover;
  @include full-width-and-height;
}

.iconCarousel {
  cursor: pointer;
  color: $primary-color;
}

.video {
  width: $carousel-video-width;
  height: $carousel-video-height;
}

.borderDiv {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: $carousel-video-border;
  pointer-events: none;
}

.videoWrapper {
  position: relative;
  width: 1120px;
  height: 630px;
}
