@import "../helpers/mixins";
@import "../base/variables";

.productCardWrapper {
  @include product-card-wrapper;
}

.productCardWrapper:hover {
  transform: $product-card-on-hover-scale;
}

.productCardAddToCartButton {
  @include product-cart-purshase-button;
  opacity: $zero;
  pointer-events: $none;
}

.productCardWrapper:hover .productCardAddToCartButton {
  opacity: $one;
  pointer-events: $auto;
}

.productCardName {
  @include product-card-name;
}

.productCardImage {
  @include product-image;
}

.productCardSize,
.productCardPrice {
  @include product-card-size-and-price;
}

.productCardDescription {
  @include product-card-description;
}
