@import "../helpers/mixins";
@import "../base/variables";

.addToCartButton {
  opacity: 0;
  pointer-events: none;
  @include product-purshase-button;
}

.productWrapper {
  margin: 2rem;
}

.productWrapper:hover .addToCartButton {
  opacity: 1;
  pointer-events: auto;
}

.productWrapper:hover {
  scale: 1.05;
}

.productName {
  @include product-name;
}

.productImage {
  @include product-image;
}

.productSize,
.productPrice {
  @include product-size-and-price;
}

.productDescription {
  font-size: 14px;
  margin-bottom: 10px;
  color: #757575;
  height: auto;
}

.product:hover .buttonContainer {
  display: flex;
}
.product:hover .productButton {
  display: block;
}

.buttonContained {
  @include product-purshase-button;
}
