@import "../helpers/mixins";
@import "../base/variables";

.addToCartButton {
  @include product-card-purshase-button;
  opacity: $zero;
  pointer-events: $none;
}

.productCardWrapper {
  @include product-card-wrapper;
}

.productCardWrapper:hover .addToCartButton {
  opacity: $one;
  pointer-events: $auto;
}

.productCardWrapper:hover {
  transform: $product-card-on-hover-scale;
}

.productCardName {
  @include product-card-name;
}

.productCardImage {
  @include product-image;
}

.productCardSize,
.productCardPrice {
  @include product-card-size-and-price;
}

.productCardDescription {
  @include product-card-description;
}

.product:hover .buttonContainer {
  display: $flex;
}
.product:hover .productButton {
  display: $block;
}

.productCardAddToCartButton {
  @include product-card-purshase-button;
}
